<div class="outer-wrapper">
  <div class="page-container" style="min-height: calc(100vh - 80px)">
    <div class="page-space" style="display: flex">
      <div class="login-form-section" style="margin: auto;">
        <img src=".\assets\images\login-logo.png" alt="logo" />
        <h3>Welcome to Company!</h3>
        <h5>Reset Your Password</h5>

        <form [formGroup]="resetPassForm" (ngSubmit)="resetPass()">
          <!-- Password -->
          <mat-form-field appearance="outline" class="w100">
            <mat-label>New Password</mat-label>
            <input
              formControlName="password"
              matInput
              [type]="hide ? 'password' : 'text'"
              required
            />
            <mat-error
              *ngIf="
                resetPassForm.get('password')?.hasError('required') &&
                (resetPassForm.get('password')?.dirty ||
                  resetPassForm.get('password')?.touched)
              "
            >
              Password is required
            </mat-error>
            <mat-error
              *ngIf="resetPassForm.get('password')?.hasError('pattern')"
            >
              Please enter a valid Password.</mat-error
            >

            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
              title="show password"
              type="button"
            >
              <mat-icon class="eye-icon" [ngStyle]="{ color: '#9C9C9C' }">{{
                hide ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>

          <!--Confirm Password -->
          <mat-form-field appearance="outline" class="w100">
            <mat-label>Confirm Password</mat-label>
            <input
              formControlName="confirmPassword"
              matInput
              [type]="hideConfirm ? 'password' : 'text'"
              required
            />
            <mat-error
              *ngIf="
                resetPassForm.get('confirmPassword')?.hasError('required') &&
                (resetPassForm.get('confirmPassword')?.dirty ||
                  resetPassForm.get('confirmPassword')?.touched)
              "
            >
              Confirm Password is required
            </mat-error>
            <mat-error
              *ngIf="
                resetPassForm
                  .get('confirmPassword')
                  ?.hasError('passwordMismatch') &&
                (resetPassForm.get('confirmPassword')?.dirty ||
                  resetPassForm.get('confirmPassword')?.touched)
              "
            >
              Passwords do not match
            </mat-error>
            <button
              mat-icon-button
              matSuffix
              (click)="hideConfirm = !hideConfirm"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hideConfirm"
              title="show password"
              type="button"
            >
              <mat-icon class="eye-icon" [ngStyle]="{ color: '#9C9C9C' }">{{
                hide ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>

          <button
            mat-flat-button
            color="primary"
            class="uppercase w100"
            title="login"
            [disabled]="resetPassForm.invalid"
          >
            Confirm
          </button>
          <span class="sign-up"
            >Change of Mind ?
            <a routerLink="/login" title="sign up"> LOG IN </a></span
          >
        </form>
      </div>
    </div>
  </div>
</div>
