<div class="outer-wrapper">
  <div class="page-container" style="min-height: calc(100vh - 80px)">
    <app-sidebar></app-sidebar>
    <div class="page-space" style="display: flex">
      <div class="inner-page">
        <mat-card>
          <mat-card-content>
            <mat-form-field appearance="outline">
              <mat-label>Country</mat-label>
              <mat-select
                (selectionChange)="getStates($event)"
                [(value)]="selectedCountry"
              >
                <mat-option *ngFor="let item of countries" [value]="item._id">{{
                  item.name
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="chart-container">
              <canvas id="MyChart">{{ chart }}</canvas>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
