<div class="outer-wrapper">
  <img class="small-logo" src=".\assets\images\logo-small.svg" alt="logo" />

  <div class="page-container" style="min-height: calc(100vh - 80px)">
    <div class="page-space" style="display: flex">
      <div
        class="message-container"
        [ngClass]="{ success: isSuccess, error: !isSuccess }"
      >
        <div class="icon-back">
          <mat-icon class="icon" *ngIf="isSuccess">check_circle</mat-icon>
          <mat-icon class="icon" *ngIf="!isSuccess">cancel</mat-icon>
        </div>
        <p class="message">{{ message }}</p>
        <button
          mat-button
          color="accent"
          class="uppercase w100 login-btn"
          title="login"
          routerLink="/login"
        >
          Login Here
        </button>
      </div>
    </div>
  </div>
</div>
