
<form [formGroup]="userForm" (ngSubmit)="update()">
    <mat-dialog-content>
<div class="login-form-section">
    <h5>Update User</h5>
      <span
        class="w100"
        style="display: flex; justify-content: space-between"
      >
        <mat-form-field appearance="outline" class="w48">
          <mat-label>First Name</mat-label>
          <input  formControlName="firstname" matInput/>
          <!-- <mat-error
            *ngIf="
              userForm.get('firstname')?.hasError('required') &&
              (userForm.get('firstname')?.dirty ||
                userForm.get('firstname')?.touched)
            "
          >
            First Name is required
          </mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="outline" class="w48">
          <mat-label>Last Name</mat-label>
          <input  formControlName="lastname" matInput/>
          <!-- <mat-error
            *ngIf="
              userForm.get('lastname')?.hasError('required') &&
              (userForm.get('lastname')?.dirty ||
                userForm.get('lastname')?.touched)
            "
          >
            Last Name is required
          </mat-error> -->
        </mat-form-field>
      </span>

      <mat-form-field appearance="outline" class="w100">
        <mat-label>Email</mat-label>
        <input  formControlName="email" matInput/>
      
        <mat-error *ngIf="userForm.get('email')?.hasError('pattern')"
          >Please enter a valid email address.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline" class="w100">
        <mat-label>Mobile</mat-label>
        <input  formControlName="mobile" matInput type="number"/>
        <!-- <mat-error
          *ngIf="
            userForm.get('mobile')?.hasError('required') &&
            (userForm.get('mobile')?.dirty ||
              userForm.get('mobile')?.touched)
          "
        >
          Mobile is required
        </mat-error>
        <mat-error *ngIf="userForm.get('mobile')?.hasError('pattern')"
          >Enter Valid Mobile No.</mat-error
        > -->
      </mat-form-field>

      <mat-form-field appearance="outline" class="w100">
        <mat-label>Select an option</mat-label>
        <mat-select  formControlName="countryId" (selectionChange)="getStates($event)">
          <mat-option *ngFor="let item of countries" [value]="item.id">{{item.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w100">
        <mat-label>Select an option</mat-label>

            <mat-select  formControlName="stateId" (selectionChange)="getCities($event)">
                <mat-option *ngFor="let item of states" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w100">
        <mat-label>Select an option</mat-label>
        <mat-select  formControlName="cityId" >
            <mat-option *ngFor="let item of cities" [value]="item.id">{{item.name}}</mat-option>

        </mat-select>
      </mat-form-field>
   
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-stroked-button color="warn" (click)="onNoClick()" type="button">Cancel</button>
    <button mat-stroked-button color="primary" [disabled]="userForm.invalid" type="submit">Save</button>
  </mat-dialog-actions>
</form>