@charset "utf-8";
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss

$my-typography: mat.define-typography-config($font-family: 'Open Sans, sans-serif');
// Define the palettes for your theme using the Material Design palettes available in palette.scss
$my-palette: (
  50: #eff9ff,
  100: #def3ff,
  200: #bde7ff,
  300: #9cdcff,
  400: #7bd0ff,
  500: #5AC4FF,
  600: #489dcc,
  700: #367699,
  800: #244e66,
  900: #122733,

  contrast: (50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$error-palette: (
  50: #ffeeee,
  100: #ffdddd,
  200: #ffbbbb,
  300: #ff9999,
  400: #ff7777,
  500: #FF5555,
  600: #cc4444,
  700: #993333,
  800: #662222,
  900: #331111,

  contrast: (50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$vr-theme-7-primary: mat.define-palette($my-palette);
$vr-theme-7-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$vr-theme-7-warn: mat.define-palette($error-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$vr-theme-7-theme: mat.define-light-theme((
  color: (
    primary: $vr-theme-7-primary,
    accent: $vr-theme-7-accent,
    warn: $vr-theme-7-warn,
  ),
    typography: $my-typography,
));


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($vr-theme-7-theme);

/* You can add global styles to this file, and also import other style files */

$primary:#5AC4FF;
$theme-head-color: #505050;
$theme-border:#DBDBDB;
$theme-color:#9C9C9C;
$white:#FFFFFF;
$dark-blue:#153D78;
$danger:#FF5555;
$warning:#F6CA2F;
$success:#7EB62E;

@mixin small-fonts{font-size: 12px; font-weight: 400; line-height: 14px;}
@mixin normal-fonts{font-size: 15px; font-weight: 400; line-height: 17px;}
.page-container .row {--bs-gutter-x: 30px}





// html, body { height: 100%; }
// body { margin: 0; font-family: 'Open Sans', sans-serif;}

/*
------------------------------------------------------------
Project Name : Sample Project;
------------------------------------------------------------
*/

/* Reset 
--------------------------------------------------------------------------------------------------------*/

.success.mat-mdc-snack-bar-container .mdc-snackbar__surface { background-color: #33d633; color: #e6fae6;}
.error.mat-mdc-snack-bar-container .mdc-snackbar__surface { background-color: #d11a1a; color: #fae6e6;}
mat-snack-bar-container{
    app-alert{display: flex;align-items: center;justify-content: space-between;}
}


/* 
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* General 
--------------------------------------------------------------------------------------------------------*/
* { outline: none !important;box-sizing: border-box; }
html, body { min-width: 320px; min-height: 100vh; }
body {background-color: #F4FBFF ;font-size: 15px; line-height: 22px; font-family: 'Open Sans', sans-serif; -ms-overflow-style: scrollbar; -webkit-font-smoothing: subpixel-antialiased;}
.wrapper { min-height: 100vh; }
a { color: #000; text-decoration: none; }
a:hover { color: #999; text-decoration: none; }
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { display: block; }
h1 {font-weight: 700;  font-size: 40px;line-height: 46px;letter-spacing: -0.01em;}
h2 {font-weight: 600;  font-size: 35px;line-height: 40px;letter-spacing: -0.01em; color: $white;}
h3 {font-weight: 600;  font-size: 25px;line-height: 29px;}
h4 {font-weight: 600;  font-size: 20px;line-height: 23px;}
h5 {font-weight: 400;  font-size: 18px;line-height: 26px;}
h6 {font-weight: 600;  font-size: 18px;line-height: 21px;letter-spacing: -0.01em;color: $theme-head-color;}
input[type=text], input[type=email], input[type=password], textarea { -webkit-appearance: none; appearance: none; }
::-webkit-input-placeholder { color: $white; }
::-moz-placeholder { color: $white; }
:-ms-input-placeholder { color: $white; }
:-moz-placeholder { color: $white; }
::-moz-focus-inner { border: 0; }
select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }
option:not(:checked) { color: black; }
.uppercase{text-transform: uppercase;}
.w100{width: 100%;}
.w48{width: 48%;}
input[type=text], input[type=email], input[type=password], textarea { -webkit-appearance: none; appearance: none; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {-webkit-appearance:none;}
.lang-rtl{direction: rtl;}
::-ms-reveal {display: none;}

/*login
---------------------------------------------------------------------------------------------*/
.login-wrapper{padding: 40px;display: flex;align-items: center;background: url(./assets/images/login-wrapper.jpg) no-repeat; background-position: center; background-size: cover; min-height: 100vh;}
.login-container{display: flex;width: 1256px; justify-content: space-between;align-items: center;margin: auto;}
.login-form-section{background: $white;box-shadow: 0px 4px 35px -4px rgba(0, 0, 0, 0.1);max-width: 500px;text-align: center;padding: 30px 40px ;
  &>img{margin: 23px 0 25px;}
  h5{margin-bottom: 23px;}
  a{color: $theme-color;}
  .mdc-button{margin-bottom: 25px;}
  span{font-size: 14px ;font-weight:400;line-height: 21px;color:$theme-color;
    a{font-weight:700;color: $primary;}
  }
  .mdc-button__label{font-size: 16px; font-weight: 600; line-height: 23px;color: $white;}

  // .mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before{height: 22px;}
}
.remember-password{display: flex;align-items: center; justify-content: space-between;font-size: 14px;font-weight: 500;line-height: 17px;margin-top:15px;margin-bottom:5px;
  a:hover,a:focus{color: #244e66;transition: all; cursor: pointer;}
}
.login-banner-section{text-align: center;margin-right:20px;
  img{margin-top: -200px;margin-bottom: 48px;max-width: 100%;}
  h3{margin-top: 24px; font-weight: 400;}
 } 
 .sign-up a:hover,.sign-up a:focus{color: $dark-blue;}

/*Sidebar
---------------------------------------------------------------------------------------------*/
.sidebar{width: 264px;background-color: $white;height: calc(100% - 60px);margin:30px 0 30px 30px;padding: 30px 30px 0;box-shadow: 0px 4px 35px -4px rgba(0, 0, 0, 0.1);border-radius:3px;transition: all 0.5s ease;visibility: visible; flex-grow: 0;flex-shrink: 0;flex-basis: 294px;
  .mdc-button__label{display: flex;align-items: center;
    &>span{display: flex;margin-left: 14px;flex-direction: column;align-items: flex-start;letter-spacing: normal;@include small-fonts();color:#989898;
      h5{font-weight: 600;line-height: 21px;color: $theme-head-color;margin-bottom: 5px;}
    }
  }
  >img{margin-bottom: 30px;cursor: pointer;}
  .mat-mdc-button.mat-mdc-button-base{height: fit-content;padding: 5px 8px;    width: calc(100% + 10px);    justify-content: flex-start;margin-left: -7px;margin-top: 30px;}
}
.sidebar .mat-divider {margin: 0 -30px;border-top-style: solid;border-top-color: rgba(0, 0, 0, 0.1)}
.sidebar ul{@include normal-fonts();margin-top: 30px;
  .side-link{display: flex; align-items: center;padding:14px 15px;
    .ic-active{display: none;}
    span{margin-left: 10px;color:$theme-color; max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;}
    &:hover, &:focus{
      &:not(.active){background-color:rgba(0, 0, 0, 0.05);}
    }
    &:nth-child(n+2){margin-top: 8px;}
  }
  .active{ background-color: $dark-blue;padding:17.5px 15px;border-radius: 3px;
    .ic-active{display: block;}
    .ic-default{display: none;}
    span{color: $white;}
  }
}

/*containers
---------------------------------------------------------------------------------------------*/
.outer-wrapper::before{z-index: -1;position: fixed;top: 0px;left: 0px;width: 100%;height: 200px;content: '';background-color:$dark-blue;}
.page-container{    margin: auto;max-width: 1920px;min-height: 100vh;display: flex;background: transparent;}

/*Header
---------------------------------------------------------------------------------------------*/
.header{height: 100px;background-color: $dark-blue; width: 100%;display: flex;padding: 30px 30px 20px;
  .mdc-button{min-width: 48px;background: #35598E;
   &:nth-child(n+2){margin-left: 30px;}
  }
  .mat-mdc-button.mat-mdc-button-base, .mat-mdc-raised-button.mat-mdc-button-base, .mat-mdc-unelevated-button.mat-mdc-button-base, .mat-mdc-outlined-button.mat-mdc-button-base{height:48px;
    &:hover,&:focus,&:active{border: 1px solid $primary}}
  .btn-close-search.mat-mdc-button.mat-mdc-button-base{padding:5px 0 0;}
  .btn-search.mat-mdc-button.mat-mdc-button-base{padding:5px 0 0;}
  .menu-bar.mat-mdc-button.mat-mdc-button-base{padding:5px 2px 0 0;}
  .notification-menu.mat-mdc-button.mat-mdc-button-base{padding:3px 0 0;}
  .action-menu.mat-mdc-button.mat-mdc-button-base{padding:7px 0 0;}
}
.search-div{margin-right: auto;}
.page-space{width: calc(100% - 294px);flex-grow: 1; flex-basis: 0;}
.header .menu-bar{margin-right: 30px;display: none;}
.logo-small{display: none;}
.btn-search.mdc-button{display: none;}
.btn-close-search.mdc-button{display: none;}
.search-input{border: 1px solid transparent;font-family: 'Open Sans', sans-serif;font-weight: 400;  font-size: 18px;line-height: 25px;width: 386px;border-radius: 3px;padding: 10px 24px 11px 18px;background: url(./assets/images/ic-search.svg) no-repeat, #35598E; ;background-position: right 15px center;color: $white;
  &:hover,&:focus,&:active{border: 1px solid $primary}
}
.mat-mdc-menu-panel .mat-mdc-menu-item{padding: 0 20px;min-height: 47px;@include normal-fonts();color: #000000;}
.mat-mdc-menu-panel .mat-mdc-menu-content{padding: 10px 0;}



/*Responsive Media
---------------------------------------------------------------------------------------------*/

@media  (max-width:1200px){
  .sidebar{margin:0 0 0 -234px;opacity: 0;flex-shrink: 1;position: fixed;z-index: 30;height: 100%;border-radius: 0;}
  .sidebar ul{overflow-y: auto;    height: calc(100% - 200px);}
  .header .menu-bar{display: block;}
  .sidebar-open .sidebar{margin:0;opacity: 1;flex-shrink: 0;height: 100%;}
  .sidebar-open .overlay{z-index: 29;position: fixed;top: 0px;left: 0px;width: 100%;height: 100%;content: '';background-color: rgba(0, 0, 0, 0.4);transition: all 0.5s ease;}
  .logo-small{display: block;}
  body.sidebar-open{overflow: hidden;}

}
@media  (max-width:1100px) {
  .login-form-section{min-width: 435px;max-width: none ;}
}
@media (max-width:991px) { 
  .page-container .row {--bs-gutter-x: 24px}
  .common-bg-card{height: calc(100% - 24px);margin-bottom: 24px;}
  .page-contents{padding: 0 24px 24px;}
  .statistics-box{padding: 24px 24px 8px;}
  .header{padding: 24px;align-items: center;}
  .login-wrapper{padding: 30px;}
  .login-form-section{padding: 30px;}
  .search-input{width: auto;}
  h1 {font-weight: 700;  font-size: 36px;line-height: 42px;}
  h2 {font-weight: 600;  font-size: 32px;line-height: 38px;}
  h3 {font-weight: 600;  font-size: 22px;line-height: 26px;}
  h4 {font-weight: 600;  font-size: 20px;line-height: 23px;}
  h5 {font-weight: 400;  font-size: 18px;line-height: 22px;}
  h6 {font-weight: 600;  font-size: 16px;line-height: 19px;}
}
@media  (max-width:900px) {
  .login-banner-section{display: none;}
  .login-form-section{min-width: auto;max-width:550px ;}
  .login-container{justify-content: center;}
}
@media (max-width:767px){
  .search-div{display: flex;margin-top: -50px;position: fixed; z-index: 10;top: 0;left: 0;right: 0;left:0;transition: all 0.5s ease;}
  .search-input{width: 100%;}
  .search-open .search-div{margin-top: 0;background-color: $dark-blue;padding: 20px;}
  .header .btn-search.mdc-button{display: block;margin-right: 0;margin-left: auto;}
  .btn-close-search.mdc-button{display: block;}
  .page-title{ 
    
    .mat-mdc-unelevated-button:not(:disabled){padding:0 16px}
    .mdc-button{min-width: auto;}
  }
  .sidebar {
    &>img{display: none;}
    .mat-divider{display: none;}
    .mat-mdc-button.mat-mdc-button-base{margin-top: 0;}
    ul{overflow-y: auto;height:calc(100% - 100px)} 
  }
  
}
@media (max-width:575px) { 

  @mixin normal-fonts{font-size: 14px; font-weight: 400; line-height: 16px;}
  .page-container .row {--bs-gutter-x: 20px}
  .statistics-box{padding: 20px 20px 4px;}
  .common-bg-card{height: calc(100% - 20px);margin-bottom: 20px;}
  .page-title .mat-mdc-unelevated-button:not(:disabled){padding:0 14px}
  .remember-password .mat-mdc-checkbox label{margin-left: -6px;}
  .page-title h2{margin-bottom: 5px;}
  .search-input{padding: 8px 24px 9px 18px;}
 
  .login-wrapper{padding: 20px;}
  .login-form-section{max-width:none;padding: 20px;}
  h1 {font-weight: 600;  font-size: 32px;line-height: 38px;letter-spacing: 0.01em;}
  h2 {font-weight: 600;  font-size: 30px;line-height: 36px;}
  h3 {font-weight: 600;  font-size: 20px;line-height: 24px;}
  h4 {font-weight: 600;  font-size: 18px;line-height: 22px;}
  h5 {font-weight: 400;  font-size: 16px;line-height: 20px;}
  h6 {font-weight: 600;  font-size: 16px;line-height: 19px;}
  .header .mdc-button{min-width: 40px;height: 40px;}
  .header .mat-mdc-button.mat-mdc-button-base, .header .mat-mdc-raised-button.mat-mdc-button-base, .header .mat-mdc-unelevated-button.mat-mdc-button-base, .header .mat-mdc-outlined-button.mat-mdc-button-base{height: 40px;}
  .header .mdc-button:nth-child(n+2){margin-left: 16px;}
  .logo-small{width: 44px; height: 44px;}
  .header .btn-search.mdc-button{margin-left: auto;}
  .header .menu-bar{margin-right: 16px;}
  .header{padding: 20px;}
  .page-contents{padding: 0 20px 20px;}
 

  .mat-mdc-form-field-input-control.mat-mdc-form-field-input-control{@include normal-fonts()}
  .sidebar ul{@include normal-fonts()}
    .revenue-table-card  {
    .mdc-data-table__header-cell{@include normal-fonts();font-weight: 500;}
    .mdc-data-table__pagination-total, .mdc-data-table__pagination-rows-per-page-label, .mdc-data-table__cell {@include normal-fonts()}
    }
  .mat-mdc-form-field, .mat-mdc-floating-label,.mat-mdc-select{ @include normal-fonts() }
  .selected-item{@include normal-fonts()}
  .upload-btn-text{@include normal-fonts()}
  .mat-mdc-checkbox .mdc-form-field {@include normal-fonts()}
  .mat-mdc-radio-button .mdc-form-field {@include normal-fonts()}

  .mat-mdc-tab-body-wrapper{margin-top: 18px;@include normal-fonts();line-height: 22px;}
  .mat-mdc-tab .mdc-tab__text-label, .mat-mdc-tab-link .mdc-tab__text-label {@include normal-fonts()}
  .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label { @include normal-fonts(); }

  
}
@media (max-width:390px){
  .mat-mdc-radio-group{margin-left:-10px;
    .mat-mdc-radio-button:nth-child(n+2){margin-left: -10px;}}
}
